<h1>Admin Category Counts</h1>

<table class="table table-bordered">
      <thead style="background-color: lightgrey;">
        <tr>
        <% test = @counts.keys%>
        <% test.each do | item |%>
          <th> <%= item %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% test = @counts.keys%>
        <% test.each do | item |%>
          <td> <%= @counts[item] %></td>
          <%end%>
      </tbody>
    </table>

