<h1>About Us</h1>
<h3>
  Welcome to the jungle, we've got fun and games
<h3>
  We got everything you want honey, we know the names
</h3>
<h3>
  We are the people that can find whatever you may need
</h3>
<h3>
  If you got the money, honey we got your disease
</h3>
<br>
<h3>Jungle, welcome to the jungle
Watch it bring you to your shun n-n-n-n-n-n-n-n knees, knees
Uh I, I wanna watch you bleed</h3>
<br>
<h3>Welcome to the jungle, we take it day by day
If you want it you're gonna bleed but it's the price to pay
And you're a very sexy girl, very hard to please
You can taste the bright lights, but you won't get there for free
In the jungle, welcome to the jungle
Feel my, my, my serpentine
Uh, I, I want to hear you scream</h3>
<h3></h3>
<h3></h3>